* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #0B1215;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    border: 2px solid red;
}

/* HEADER */

.nav,
.hero {
    background-color: #1F2937;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
}

 /* HERO */

.hero h1 {
    font-size: 48px;
    line-height: 100%;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 30px 0;
}

.hero img {
    aspect-ratio: 1;
    max-width: 400px;
    border-radius: 10%;
}

.hero button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 10px 32px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
}

.hero .container {
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}

.hero .text {
    padding-right: 30px;
}

/* Random Information */

.info p {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 30px 0;
}

.info .container {
    background-color: white;
}
